bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/backend-test/FileContentIndex/9c4cb71f-f4d6-4a44-b3ec-da86d59eba21.vsidx
/.vs/backend-test/FileContentIndex/dea5b4e3-17bd-4627-b970-09c661a04f65.vsidx
/.vs/backend-test/FileContentIndex/read.lock
/.vs/backend-test/v17/.suo
/.vs/backend-test/FileContentIndex
/.idea/.idea.backend-test/.idea/dataSources.xml
/.vs/backend-test/DesignTimeBuild/.dtbcache.v2
